absl-py==0.9.0
astor==0.8.1
atari-py==0.2.6
backcall==0.1.0
baostock==0.8.8
cloudpickle==1.4.1
cycler==0.10.0
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.28.1
gym==0.17.1
h5py==2.10.0
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.1
matplotlib==3.2.1
numpy==1.18.4
opencv-python==4.2.0.32
opt-einsum==3.2.1
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
Pillow==7.1.2
protobuf==3.11.3
ptyprocess==0.6.0
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.4.1
six==1.14.0
stable-baselines==2.10.0
tensorboard==1.15.0
tensorflow==2.9.3
tensorflow-estimator==1.15.1
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.12.1
